html {
    margin-left: calc(100vw - 100%);
    background: url(../images/bg-garden-hd.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

html,body{
    height: 100%;
    overflow-y: hidden;
}

.page-centered{
    position: absolute;
    top: 10%;
    right: 20%;
    left: 20%;
    bottom: 10%;
}

.hero{
    display: flex;
    min-width: 520px;
    max-width: 980px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    /*opacity: 0;*/
    animation-fill-mode: forwards;
    background: rgba(52, 27, 43, 0.7);
    color: #fff;
    padding: 2em;
    text-align: center;
    border-radius: 4px;
}

.hero form{
    line-height: 2em;
}
.hero p{
    letter-spacing: 0.1em;
}

.hero form input{
    height: 36px;
    outline: none;
    padding: 0;
}

.hero form input[type='email']{
    background-color: #281e24;
    color: #fff;
    padding-left: 10px;
    border: 1px solid darkgrey;
}
.hero form input[type='email']:focus{
    border: 2px solid #90f6a1;
}
.hero form input::placeholder {
    color: #b8d9b0;
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
}

.hero form{
    opacity: 0;
    animation-delay: 1s;
}

.hero form input[type='submit']{
    margin-left: 10px;
    border-radius: 10px;
    padding: 0 15px;
    border: 1px solid darkgrey;
    color: white;
    cursor: pointer
}
.hero form input[type='submit']:focus{
    border: 2px solid #90f6a1;
}

.hero form input[type='submit']:active{
    /*border: 1px solid darkgrey;*/
    box-shadow: #90f6a1;
}


.hero h1{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    border-bottom: double 5px;
    border-top: double 5px;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
}

.btn {
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #203327 0%, #233527d4 51%, #23352a 100%);
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    text-align: center;
    margin: auto;
}
