html {
  background: url(../images/bg-garden-hd.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
}

html,
body {
  min-height: 100%; /*for mobile Chrome to render background img properly*/
  overflow-y: hidden; /*to disable scrollbar*/
}

.hidden {
  display: none;
}
.delayed-1 {
  animation-delay: 1s;
}
.delayed-half {
  animation-delay: 0.5s;
}
main {
  display: flex;
}

.page-centered {
  margin: auto;
  width: 580px;
  padding: 2em;
}

.hero {
  background: rgba(52, 27, 43, 0.7);
  text-align: center;
  border-radius: 4px;
  padding: 2em;
  transition: all;
}

.hero form input {
  color: #e0e0e0;
  height: 36px;
  outline: none;
  padding: 0;
  border: 1px solid darkgrey;
}

.hero form input:focus {
  border: 1px solid #90f6a1;
}

.hero .email {
  background-color: #281e24;
  color: #fff;
}

.hero .email::placeholder {
  padding-left: 10px;
  color: #b8d9b0;
  opacity: 0.5;
  font-size: 80%;
  font-family: 'Roboto', sans-serif;
}

.hero .btn {
  margin-left: 10px;
  border-radius: 10px;
  padding: 0 15px;
  cursor: pointer;
  font-size: 80%;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #203327 0%,
    #233527d4 51%,
    #23352a 100%
  );
}
.hero .btn:hover {
  background-position: right center;
  /* change the direction of the linear gradient */
}
.hero .btn:active {
  transform: scale(0.95);
}
.hero form small {
  display: inline-block;
  margin-top: 16px;
}
.hero h1 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  border-bottom: double 5px;
  border-top: double 5px;
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
}
.messagebox.success {
  color: #e0e0e0;
  width: 70%;
  margin: 0 auto;
  visibility: hidden;
  padding: 3px;
  background-color: rgba(40, 80, 0, 0.5);
}
.messagebox.success.fadeIn {
  visibility: visible;
}
footer {
  display: none; /* hide footer if height < 400 */
}
@media (min-height: 400px) {
  footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .hero h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 520px) {
  body {
    font-size: 110%;
  }
  .page-centered {
    margin: auto;
    width: 280px;
    padding: 1em;
  }
  .hero {
    padding: 1em 0 1em 0;
  }
  .hero h1 {
    font-size: 1.2em;
  }
  .hero p {
    position: relative;
    top: 10px;
  }

  .hero form input {
    height: 46px;
    width: 80%;
  }

  .hero .btn {
    margin: 12px 0 0 0;
    padding: 10px;
    font-size: 90%;
  }
}
